In [44]:
import yfinance as yf
import datetime as datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter("ignore", UserWarning)
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import mean_squared_error
from sklearn.decomposition import PCA
from sklearn.model_selection import cross_val_score

from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error, accuracy_score
from datetime import datetime, timedelta
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
import statsmodels.api as sm

In [4]:
df_credit = pd.read_csv('application_train.csv')

In [5]:
df_credit.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

In [6]:
cat_var = df_credit.select_dtypes(exclude=['number']).columns.tolist()

In [7]:
print(cat_var)

['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE']

In [8]:
label_encoder = LabelEncoder()
for i in cat_var:
    df_credit[i] = label_encoder.fit_transform(df_credit[i])

In [9]:
df_credit.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,1,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,0,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,1,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,0,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,1,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
for i in df_credit.columns:
    unique_values = df_credit[i].unique()
    if i not in cat_var and len(unique_values) > 2:
        plt.hist(df_credit[i])
        plt.xlabel(i)
        plt.show()

In [10]:
for i in df_credit.columns:
    print(i)

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [11]:
df_credit = df_credit.dropna()

In [ ]:
x = df_credit.drop(['TARGET', 'SK_ID_CURR'], axis=1)
y = df_credit['TARGET']

In [ ]:
#x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [ ]:
logreg = LogisticRegression()
logreg.fit(x, y)
y_pred = logreg.predict(x)

In [ ]:
coefficients = logreg.coef_
intercept = logreg.intercept_
print (coefficients)
print(intercept)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [ ]:
lda = LinearDiscriminantAnalysis()
lda.fit(x_train, y_train)
probabilities = lda.predict_proba(x_test)
print(probabilities)

In [ ]:
accuracy = accuracy_score(y, y_pred)

In [ ]:
accuracy

In [28]:
df_credit

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
71,100083,0,0,1,1,1,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
124,100145,0,0,0,1,1,1,202500.0,260725.5,16789.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
143,100165,0,0,0,1,1,0,175500.0,1293502.5,35568.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
152,100179,0,0,0,1,0,0,202500.0,675000.0,53329.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
161,100190,0,0,1,1,0,0,162000.0,263686.5,24781.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307359,456084,0,0,0,1,1,1,99000.0,675000.0,21906.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307363,456088,1,0,0,1,1,0,29250.0,663093.0,21519.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307407,456140,1,0,0,1,1,1,261000.0,711454.5,47673.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307456,456195,0,0,0,1,1,0,94500.0,270000.0,15075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307482,456226,0,0,0,1,1,0,225000.0,500566.5,34969.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

# Hailey

In [30]:
X = df_credit.drop('TARGET', axis=1)  # Features
y = df_credit['TARGET']  # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [36]:
# Median imputation of missing values
imputer = SimpleImputer(strategy='median')

# Fit and transform on the training data
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

# Reshape y_train and y_test to 2D arrays if they are 1D
y_train = y_train.values.reshape(-1, 1) if len(y_train.shape) == 1 else y_train
y_test = y_test.values.reshape(-1, 1) if len(y_test.shape) == 1 else y_test

# Fit and transform on the target data
y_train = imputer.fit_transform(y_train)
y_test = imputer.transform(y_test)

# Scale each feature to 0-1
scaler = MinMaxScaler(feature_range=(0, 1))

# Fit and transform on the training data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Fit and transform on the target data
y_train = scaler.fit_transform(y_train)
y_test = scaler.transform(y_test)

In [47]:
log_model = LogisticRegression()
log_model.fit(X_train, y_train)
coefficients = log_model.coef_
intercept = log_model.intercept_

In [41]:
for feature, coef in zip(X.columns, coefficients[0]):
    print(f"{feature}: {coef}")

# Print the intercept
print(f"Intercept: {intercept}")

SK_ID_CURR: 0.04272060270590051
NAME_CONTRACT_TYPE: 0.09096908674205319
CODE_GENDER: 0.09381843030698464
FLAG_OWN_CAR: 0.0
FLAG_OWN_REALTY: 0.14658677683676732
CNT_CHILDREN: -0.1310460939804668
AMT_INCOME_TOTAL: -1.0810691375456065
AMT_CREDIT: 0.6791988598653921
AMT_ANNUITY: 0.6858157144681082
AMT_GOODS_PRICE: -0.6787350404506199
NAME_TYPE_SUITE: -0.16791896837325723
NAME_INCOME_TYPE: 0.18614745529763935
NAME_EDUCATION_TYPE: 0.40221237659468745
NAME_FAMILY_STATUS: -0.4201838483989268
NAME_HOUSING_TYPE: 0.19017356644913389
REGION_POPULATION_RELATIVE: 0.321333010803946
DAYS_BIRTH: -1.0150157160532258
DAYS_EMPLOYED: -0.02393442313527306
DAYS_REGISTRATION: 0.05314814047086432
DAYS_ID_PUBLISH: 0.2824414566024148
OWN_CAR_AGE: 0.14276725882498634
FLAG_MOBIL: 0.0
FLAG_EMP_PHONE: 0.23963912934577375
FLAG_WORK_PHONE: 0.07681599397350465
FLAG_CONT_MOBILE: 0.5142652146352825
FLAG_PHONE: -0.04676841116964735
FLAG_EMAIL: -0.03832139575539143
OCCUPATION_TYPE: 0.264620669949415
CNT_FAM_MEMBERS: -0.5267614851609718
REGION_RATING_CLIENT: -0.17693514781672862
REGION_RATING_CLIENT_W_CITY: 0.7575515472645432
WEEKDAY_APPR_PROCESS_START: -0.13604019299889195
HOUR_APPR_PROCESS_START: 0.2663694777786632
REG_REGION_NOT_LIVE_REGION: 0.06562884355193366
REG_REGION_NOT_WORK_REGION: -0.9139307373551707
LIVE_REGION_NOT_WORK_REGION: 0.8815004485116232
REG_CITY_NOT_LIVE_CITY: -0.26239202667139483
REG_CITY_NOT_WORK_CITY: 0.42907514589178203
LIVE_CITY_NOT_WORK_CITY: -0.3560582867594498
ORGANIZATION_TYPE: 0.07052824652593044
EXT_SOURCE_1: -2.0523384241941307
EXT_SOURCE_2: -1.5851586725749467
EXT_SOURCE_3: -2.567651892027635
APARTMENTS_AVG: -0.10930537017234743
BASEMENTAREA_AVG: -0.21480242114762094
YEARS_BEGINEXPLUATATION_AVG: 0.02593042729797109
YEARS_BUILD_AVG: -0.1675750149116005
COMMONAREA_AVG: -0.06631099145959278
ELEVATORS_AVG: -0.09463090157824666
ENTRANCES_AVG: -0.08094425488600704
FLOORSMAX_AVG: -0.270282905912283
FLOORSMIN_AVG: 0.17657856748217662
LANDAREA_AVG: -0.042090999404024304
LIVINGAPARTMENTS_AVG: -0.16954906463481942
LIVINGAREA_AVG: 0.10432929359986168
NONLIVINGAPARTMENTS_AVG: -0.09515744859527907
NONLIVINGAREA_AVG: -0.09268432669076357
APARTMENTS_MODE: 0.45619397939658507
BASEMENTAREA_MODE: 0.27962382842615224
YEARS_BEGINEXPLUATATION_MODE: 0.09600585113169116
YEARS_BUILD_MODE: 0.25849390882577605
COMMONAREA_MODE: 0.10795011226616207
ELEVATORS_MODE: 0.48395466745404275
ENTRANCES_MODE: -0.3146224686024517
FLOORSMAX_MODE: -0.6167599202609562
FLOORSMIN_MODE: -0.040619091701543465
LANDAREA_MODE: 0.027644190110216873
LIVINGAPARTMENTS_MODE: -0.031025180012940176
LIVINGAREA_MODE: -0.2553177903741053
NONLIVINGAPARTMENTS_MODE: 0.13071836841325496
NONLIVINGAREA_MODE: -0.3318243914234452
APARTMENTS_MEDI: 0.11762394986089118
BASEMENTAREA_MEDI: 0.03999879647576172
YEARS_BEGINEXPLUATATION_MEDI: -0.12551112085794705
YEARS_BUILD_MEDI: -0.023647481021550655
COMMONAREA_MEDI: 0.0029243946677824754
ELEVATORS_MEDI: 0.33175138337369864
ENTRANCES_MEDI: -0.1507078311689563
FLOORSMAX_MEDI: -0.2135178929630196
FLOORSMIN_MEDI: 0.07122014532652053
LANDAREA_MEDI: -0.05112107644087917
LIVINGAPARTMENTS_MEDI: 0.11724966507054606
LIVINGAREA_MEDI: 0.26888321701240087
NONLIVINGAPARTMENTS_MEDI: -0.03458131692619871
NONLIVINGAREA_MEDI: -0.4146513603123788
FONDKAPREMONT_MODE: 0.03492586493236948
HOUSETYPE_MODE: 0.8593151058517606
TOTALAREA_MODE: -0.5004884263698864
WALLSMATERIAL_MODE: 0.12086192613108088
EMERGENCYSTATE_MODE: -0.03516808634147205
OBS_30_CNT_SOCIAL_CIRCLE: 0.21996252073944147
DEF_30_CNT_SOCIAL_CIRCLE: -0.015389029511426702
OBS_60_CNT_SOCIAL_CIRCLE: 0.04703352593722909
DEF_60_CNT_SOCIAL_CIRCLE: 0.16250351222462067
DAYS_LAST_PHONE_CHANGE: -0.08838508871826611
FLAG_DOCUMENT_2: 0.0
FLAG_DOCUMENT_3: 0.8232210368127141
FLAG_DOCUMENT_4: -0.05155504677453133
FLAG_DOCUMENT_5: 0.10674440629346406
FLAG_DOCUMENT_6: 0.7460686452103888
FLAG_DOCUMENT_7: 0.6062477790301443
FLAG_DOCUMENT_8: 0.645937815566676
FLAG_DOCUMENT_9: 0.8287419800818825
FLAG_DOCUMENT_10: 0.0
FLAG_DOCUMENT_11: 0.5943951833212027
FLAG_DOCUMENT_12: -0.027114468237927385
FLAG_DOCUMENT_13: -1.0132122044749023
FLAG_DOCUMENT_14: -0.03360530981301868
FLAG_DOCUMENT_15: 0.23312245346823746
FLAG_DOCUMENT_16: -0.6794313953563785
FLAG_DOCUMENT_17: -0.06036804793484349
FLAG_DOCUMENT_18: -0.2710790574178335
FLAG_DOCUMENT_19: 0.7648943905559257
FLAG_DOCUMENT_20: 0.24726796304857696
FLAG_DOCUMENT_21: -0.0521462738907462
AMT_REQ_CREDIT_BUREAU_HOUR: 0.5060443739308613
AMT_REQ_CREDIT_BUREAU_DAY: 0.7574418387696459
AMT_REQ_CREDIT_BUREAU_WEEK: 0.4682148327789993
AMT_REQ_CREDIT_BUREAU_MON: -0.36747407784862457
AMT_REQ_CREDIT_BUREAU_QRT: 0.5524914007816318
AMT_REQ_CREDIT_BUREAU_YEAR: 0.3212421258358603
Intercept: [-1.4350038]

In [49]:
logit_model = sm.Logit(y_train, X_train)
result = logit_model.fit()

# Print the p-values
print("P-values:")
print(result.pvalues)

Warning: Maximum number of iterations has been exceeded.
         Current function value: inf
         Iterations: 35

LinAlgError: Singular matrix